header {
	background: rgba(0,0,0,1) url(https://images2.imgbox.com/3c/64/pANbsJ1N_o.jpg) no-repeat fixed top center;
	background-size: 100% 50%;
	height: 330px;
	width: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
	color: #FFFFFF;
}
h1 {
	font-size: 40px;
	margin: 0;
	padding: 0;
}

h2 {
	margin: 0;
	padding: 0;
}
a.home:link, a.home:visited, a.contact:link, a.contact:visited {
	background-color: #000000;
	color: #FFFFFF;
	display: inline-block;
	text-decoration: none;
	padding: 20px;
}
a.home:hover, a.home:active, a.contact:hover, a.contact:active {
	background-color: #202020;
}
a.memGame:link, a.memGame:visited, a.moose:link, a.moose:visited {
	background-color: #202020;
	color: #FFFFFF;
	display: inline-block;
	text-decoration: none;
	padding: 20px;
}
.links {
	text-align: center;
	background-color: #000000;
}
.pLinks {
	text-align: center;
}
body {
	background-color: #202020;
	margin:0;
	padding: 0;
}